<div class="module-container">
  <div class="module-header" id="startContainer">
    <div>
      <h4 class="module-title">Olá, Usuário :)</h4>
      <p class="module-subtitle">Comece por aqui</p>
    </div>
  </div>
  <mat-divider class="list-divider"></mat-divider>
  <section class="list-component">
    <div class="welcome-info">
      <div class="info-boxes-container">
        <div class="welcome-box">
          <h3 class="welcome-title">Bem-vindo ao The Dog!</h3>
          <p class="welcome-subtitle">
            Sistema desenvolvido com Angular 17 para consumo e administração dos
            dados da The Dog API .
          </p>
        </div>
      </div>
      <div class="welcome-image">
        <img
          alt="Board"
          class="logo logo-dark"
          src="../../../assets/images/dog-cuarte.png"
        />
      </div>
    </div>
  </section>
</div>
