$primary-palette-light: (
  50: #fdede0,
  100: #fad3b3,
  200: #f7b680,
  300: #f4984d,
  400: #f18226,
  500: #ef6c00,
  600: #ed6400,
  700: #eb5900,
  800: #e84f00,
  900: #e43d00,
  A100: #ffffff,
  A200: #ffe0d8,
  A400: #ffb7a5,
  A700: #ffa38b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary-palette-dark: (
  50: #fff3e0,
  100: #ffe0b3,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #ff9800,
  600: #ff9000,
  700: #ff8500,
  800: #ff7b00,
  900: #ff6a00,
  A100: #ffffff,
  A200: #fff7f2,
  A400: #ffd6bf,
  A700: #ffc5a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn-palette-light: (
  50: #ffeef1,
  100: #ffd4dd,
  200: #ffb8c6,
  300: #ff9baf,
  400: #ff859e,
  500: #ff708d,
  600: #ff6885,
  700: #ff5d7a,
  800: #ff5370,
  900: #ff415d,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe9ec,
  A700: #ffcfd6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn-palette-dark: (
  50: #fae7e9,
  100: #f4c2c7,
  200: #ec9aa2,
  300: #e4727d,
  400: #df5361,
  500: #d93545,
  600: #d5303e,
  700: #cf2836,
  800: #ca222e,
  900: #c0161f,
  A100: #fff2f3,
  A200: #ffbfc2,
  A400: #ff8c91,
  A700: #ff7378,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
