.dark-theme {
  .result-count {
    color: $color-text-dark;
  }
  .training-card {
    border-color: $color-line-dark;
    background-color: $color-input-dark;
    border: 1.5px solid $color-line-dark;
    .part-number {
      color: $color-brand-dark;
    }

    .date-time {
      color: $color-support-grey-dark;
    }

    .defect-info {
      .defect {
        color: $color-text-dark;
      }

      .quantity {
        color: $color-text-dark;
      }
    }

    .trained-info {
      .trained {
        color: $color-text-dark;
      }

      .trained-status {
        color: $color-text-dark;
      }
    }
  }

  background: $color-background-dark !important;

  .logo-light,
  .brand-light {
    display: none;
  }

  .logout-list-item {
    .logout-label {
      color: $color-text-dark !important;
    }

    mat-icon {
      filter: $color-support-grey-dark-filter;
    }

    &:hover {
      mat-icon {
        filter: $color-brand-hover-dark-filter;
      }
    }
  }

  .mat-mdc-nav-list .mat-mdc-list-item:not(:first-child):hover {
    p {
      color: $color-brand-hover-dark !important;
    }

    img {
      filter: $color-brand-dark-filter;
    }
  }

  .mdc-list-item__primary-text {
    color: $color-support-grey-dark !important;

    img {
      filter: $color-support-grey-dark-filter;
    }
  }

  .mat-mdc-nav-list .mat-mdc-list-item:not(:first-child).active {
    .mat-mdc-list-item-unscoped-content {
      background-color: $color-brand-opacity-20-dark !important;
    }

    p {
      color: $color-brand-dark !important;
    }

    img {
      filter: $color-brand-dark-filter;
    }
  }

  .mat-sidenav {
    background-color: $color-box-dark;
    color: $color-brand-dark;
  }

  .username-label,
  .role-label {
    color: $color-text-dark;
  }

  .list-component,
  .main-list-container,
  .form-container {
    background-color: $color-box-dark;
  }

  .module-title {
    color: $color-text-dark;
  }

  .module-subtitle {
    color: $color-support-grey-dark;
  }

  .form-container {
    .mdc-text-field {
      background-color: $color-input-dark !important;
    }

    .mdc-text-field--disabled {
      background-color: $color-inactive-button-dark !important;
      border-bottom: 1px solid $color-inactive-text-dark;
    }
  }

  .mdc-text-field,
  .mat-mdc-form-field-focus-overlay {
    background-color: $color-box-dark !important;

    .mat-icon {
      color: $color-support-grey-dark !important;
    }

    &:hover {
      background-color: $color-brand-opacity-20-dark !important;
    }
  }

  .main-list-container {
    .list-header {
      h5 {
        color: $color-text-dark;
      }
    }
  }

  .form-container {
    h5 {
      color: $color-text-dark;
    }

    .container-subtitle {
      color: $color-support-grey-dark;
    }
  }

  .list-header-filter {
    .search-container {
      .search-input {
        border: 1px solid $color-line-dark !important;
        background-color: $color-input-dark;
        color: $color-text-dark !important;

        &:focus {
          border-color: $color-brand-dark !important;
        }

        &:disabled {
          border-color: $color-line-dark !important;
          background-color: $color-inactive-button-dark !important;
        }
      }

      .search-btn {
        border: 1px solid $color-line-dark !important;
        background-color: $color-input-dark;
        color: $color-support-grey-dark;

        &:focus {
          border-color: none !important;
        }

        &:hover:not(.disabled-search-btn) {
          mat-icon {
            filter: $color-brand-dark-filter;
          }
        }

        &.disabled-search-btn {
          border-color: $color-line-dark !important;
          background-color: $color-inactive-button-dark !important;
        }
      }
    }

    .search-btn {
      &.pressed {
        border-color: $color-line-dark !important;
      }
    }

    .search-container:focus-within .search-btn:not(.pressed) {
      border-color: $color-brand-dark !important;
    }

    input::placeholder {
      color: $color-text-dark;
    }

    input:disabled::placeholder {
      color: $color-inactive-text-dark !important;
    }
  }

  .list-component,
  .component-list-header,
  .tab-content-container {
    .select-button {
      border: 1px solid #cdc9c9;
      background-color: $color-box-dark;
      color: $color-text-dark;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);

      &:hover:not(:disabled) {
        background-color: #ff980033;
        box-shadow: 0px 5px 4px #8f8f8f29;
      }

      &:focus {
        background-color: $color-box-dark;
        border: 1px solid $color-brand-dark;
        box-shadow: 0px 5px 4px #8f8f8f29;
      }

      &:disabled:not(.select-button-active) {
        background-color: $color-inactive-button-dark;
        border: 1px solid $color-inactive-button-dark;
        transition: none !important;
        box-shadow: none !important;
      }

      &.select-button-active {
        background-color: $color-brand-dark !important;
        border: 1px solid $color-brand-dark !important;

        .filters-legend {
          color: $color-box-dark !important;
        }

        img {
          filter: $color-box-dark-filter;
        }
      }
    }
  }

  .no-results {
    .legend-primary {
      color: $color-text-dark !important;
    }

    .legend-secondary {
      color: $color-support-grey-dark !important;
    }
  }

  .profile-box,
  .status-box,
  .type-box {
    background-color: $color-box-dark;
    border: 1px solid $color-line-dark;
  }

  .result-box {
    background-color: $color-box-dark;
    border: 1px solid $color-line-dark;
  }

  .defect-box {
    background-color: $color-box-dark;
    border: 1px solid $color-line-dark;
  }

  .ref-box {
    background-color: $color-box-dark;
    border: 1px solid $color-line-dark;
  }

  .pagination {
    .page-button.active {
      background-color: $color-brand-opacity-20-dark;
      color: $color-text-dark;
    }

    .page-button {
      background-color: $color-box-dark;

      p {
        color: $color-support-grey-dark;
      }

      &:not(.active):not(.dots-btn):hover {
        background-color: $color-box-dark;
        border: 1px solid $color-line-dark;
      }
    }

    .arrow-button {
      background-color: $color-box-dark;
      border: 2px solid $color-brand-opacity-20-dark;

      mat-icon {
        filter: $color-brand-dark-filter;
      }

      &:hover {
        background-color: $color-brand-dark;

        mat-icon {
          filter: $color-text-dark-filter;
        }
      }

      &:disabled {
        background-color: $color-inactive-button-dark;
        border: 2px solid $color-inactive-button-dark !important;

        mat-icon {
          filter: $color-inactive-text-dark-filter;
        }
      }
    }

    .dots-btn {
      background-color: transparent;
      border: none;
      color: $color-support-grey-dark;
    }
  }

  .profile-options {
    mat-radio-button {
      border: solid 1px #00000026;

      &:hover {
        border: solid 2px $color-brand-opacity-20-dark;
      }
    }

    .mat-mdc-radio-checked {
      border: solid 1px $color-brand-dark !important;
    }

    .option-text {
      color: $color-support-grey-dark;
    }
  }

  .user-profile {
    .profile-label {
      color: $color-text-dark;
    }

    .option-title {
      color: $color-support-grey-dark;

      img {
        filter: $color-text-secundary-light-filter;
      }
    }
  }

  .mat-mdc-radio-button.mat-primary {
    --mdc-radio-unselected-icon-color: #ffffff;
  }

  .mat-mdc-radio-button {
    --mdc-form-field-label-text-color: #c2c2c2;
  }

  .mat-mdc-radio-button {
    --mat-radio-ripple-color: #ff9800 !important;
    --mdc-radio-unselected-hover-icon-color: #ff9800 !important;
  }

  .account-form {
    .option-title {
      color: $color-support-grey-dark;
    }

    .label-text {
      color: $color-text-dark;
    }

    .mat-mdc-radio-checked {
      border: solid 2px $color-brand-dark !important;

      .option-text {
        color: $color-support-grey-dark;
      }
    }
  }

  .profile-radio-btn {
    img {
      filter: $color-text-secundary-light-filter !important;
    }
  }

  .toggle-mode-btn {
    background-color: $color-box-dark;
    border: 2px solid $color-box-dark;

    .toggle-btn {
      mat-icon {
        filter: $color-text-secundary-dark-filter !important;
      }

      &.active {
        background-color: $color-background-dark !important;

        mat-icon {
          filter: $color-brand-hover-dark-filter !important;
        }
      }

      &:not(:disabled):not(.active):hover {
        background-color: $color-brand-opacity-20-dark;

        mat-icon {
          filter: $color-brand-hover-dark-filter !important;
        }
      }
    }

    &:not(:disabled):hover {
      border: 2px solid $color-brand-opacity-20-dark;
    }
  }

  .system-btn {
    background-color: $color-box-dark;
    border: 2px solid $color-line-dark;

    mat-icon {
      filter: $color-brand-dark-filter;
    }

    &:not(:disabled):not(.btn-active):hover {
      background-color: $color-brand-opacity-20-dark;
      border: 2px solid $color-brand-opacity-20-dark;
    }

    &.btn-active {
      background-color: $color-brand-pressing-dark;
      border: 2px solid $color-line-dark;

      img,
      mat-icon {
        filter: $color-text-dark-filter;
      }
    }

    &:disabled {
      border: 2px solid $color-inactive-button-dark;

      img {
        filter: $color-inactive-button-light-filter;
      }

      mat-icon {
        filter: $color-support-grey-light-filter;
      }
    }
  }

  .mat-mdc-tooltip .mdc-tooltip__surface {
    background-color: $color-box-dark !important;
    color: $color-text-dark !important;
  }

  .mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #474f58;
  }

  .alert-snack-bar {
    .title {
      color: $color-text-dark;
    }

    .subtitle {
      color: $color-text-dark;
    }

    .snack-bar-btn {
      color: $color-support-grey-dark;
    }

    .icon-container {
      border: 1px solid $color-inactive-button-dark !important;

      .error-icon {
        background-color: $color-error-dark !important;
      }
    }
  }

  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: $color-box-dark;
  }

  .modal-box {
    button {
      &:hover {
        filter: $color-black-filter;
      }
    }

    .message {
      color: $color-text-dark;
    }

    .btn-modal-confirm {
      background-color: $color-brand-dark;
      color: $color-box-dark;
    }

    .btn-modal-delete {
      background-color: $color-error-dark;
      color: $color-box-light;
    }

    .image-container {
      border: 1px solid $color-inactive-button-dark !important;
    }
  }

  mat-card {
    background-color: $color-background-dark !important;
  }

  .label-container {
    color: $color-text-dark;
  }

  .user-list-item {
    .user-list-content:hover {
      .img-container {
        outline: thick solid $color-brand-opacity-20-dark;
      }

      .text-container {
        background-color: $color-brand-opacity-20-dark;
        border-radius: 12px;
        outline: thick solid $color-brand-opacity-20-dark;
      }
    }

    .img-container {
      background-color: $color-brand-dark;
      color: $color-box-dark;
    }
  }

  .reset-form-container {
    .password-rules {
      color: $color-support-grey-dark;

      .password-rule-pass {
        color: $color-success-dark !important;
      }
    }
  }

  .mdc-snackbar.alert-snackbar {
    border: 2px solid $color-brand-dark !important;
  }

  .mdc-snackbar.success-snackbar {
    border: 2px solid $color-success-dark !important;
  }

  .mdc-snackbar.error-snackbar {
    border: 2px solid $color-error-dark !important;
  }

  .incomplete_registration_tooltip.mat-mdc-tooltip .mdc-tooltip__surface {
    border: $color-error-dark 1px solid !important;
  }

  .complete_registration_tooltip.mat-mdc-tooltip .mdc-tooltip__surface {
    border: $color-brand-dark 1px solid !important;
  }

  .disabled_tooltip.mat-mdc-tooltip .mdc-tooltip__surface {
    border: $color-support-grey-dark 1px solid !important;
  }

  .enabled_tooltip.mat-mdc-tooltip .mdc-tooltip__surface {
    border: $color-success-dark 1px solid !important;
  }

  .main-tooltip.mat-mdc-tooltip .mdc-tooltip__surface {
    border: $color-line-dark 1px solid !important;
  }

  .good_tooltip.mat-mdc-tooltip .mdc-tooltip__surface {
    color: $color-success-dark !important;
  }

  .ng_tooltip.mat-mdc-tooltip .mdc-tooltip__surface {
    color: $color-error-dark !important;
  }

  .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: $color-brand-opacity-20-dark !important;
  }

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
      .mat-mdc-option-multiple
    ) {
    background-color: $color-brand-pressing-dark !important;

    span {
      color: $color-text-secundary-dark !important;
    }
  }

  .welcome-title {
    color: $color-brand-dark;
  }

  .welcome-subtitle {
    color: #d0d0d0;
  }

  .info-boxes-container {
    .info-box {
      background-color: $color-input-dark;

      .img-container {
        border: 1px solid $color-line-dark;
        background-color: $color-input-dark;
      }

      &:not(.inactive):hover {
        background-color: $color-brand-opacity-20-light;
      }

      &:active {
        background-color: $color-input-dark;
      }
    }
  }

  .info-title {
    color: $color-text-secundary-light;
  }

  .info-description {
    color: $color-text-secundary-light;
  }

  .empty-img {
    border: 1px solid $color-line-dark;
    background-color: $color-background-dark;
  }

  .new-component-dialog {
    h6 {
      color: $color-text-dark;
    }
  }

  .labeling-tab-content {
    border: 1px solid $color-line-dark;

    .buttons-container {
      border: 1px solid $color-line-dark;
    }

    .action-btn {
      // border: 1px solid $color-line-dark;

      img,
      mat-icon {
        filter: $color-support-grey-dark-filter;
      }

      &:not(:disabled):not(.btn-active):hover {
        background-color: $color-brand-opacity-20-dark !important;
        border-radius: 12px;
      }

      &.btn-active:not(:disabled) {
        background-color: $color-brand-dark !important;
        border-radius: 12px;

        img,
        mat-icon {
          filter: $color-text-dark-filter;
        }
      }

      &:disabled {
        img,
        mat-icon {
          filter: $color-support-grey-dark-filter;
          opacity: 0.38;
        }
      }
    }

    .search-container {
      .search-input {
        background-color: transparent;
      }

      .search-btn {
        background-color: transparent;
      }
    }

    .search-filter {
      .zoom-slide,
      .label-style-slide {
        background-color: $color-box-dark;
        border: 1px solid $color-line-dark;

        mat-icon {
          filter: $color-support-grey-dark-filter;
        }

        .zoom-value {
          background-color: $color-brand-opacity-20-dark;
        }
      }
    }

    .divider-right {
      border-right: 1px solid $color-line-dark !important;
    }

    .divider-left {
      border-left: 1px solid $color-line-dark !important;
    }
  }

  .mat-mdc-menu-panel {
    background-color: $color-box-dark !important;
    border: 1px solid $color-line-dark !important;
  }

  .mat-mdc-menu-item img {
    filter: $color-support-grey-dark-filter !important;
  }

  .mat-mdc-menu-item .mat-icon-no-color {
    color: $color-support-grey-dark !important;
  }

  .open-close-btn {
    border: 2px solid $color-brand-opacity-20-dark;
    background-color: $color-box-dark;
    color: $color-brand-dark;
  }

  /* :not(:root):fullscreen {
    background-color: $color-box-dark !important;
  } */

  .fullscreen-container {
    background-color: $color-background-dark;

    .labeling-tab-content {
      background-color: $color-box-dark !important;
    }
  }

  .labeling-tab-content {
    .search-filter {
      .disabled-style {
        .mdc-text-field:hover {
          background-color: transparent !important;
        }
      }

      .mdc-text-field:hover {
        background-color: $color-brand-opacity-20-dark !important;
      }

      .mat-mdc-form-field-icon-suffix:hover {
        opacity: 1;
        filter: $color-support-grey-dark-filter;
      }
    }
  }

  .ngx-mat-color-toggle-active {
    background-color: $color-brand-dark !important;

    mat-icon {
      filter: $color-text-dark-filter;
    }
  }

  .disabled-style {
    .ngx-mat-color-toggle mat-icon {
      filter: $color-support-grey-dark-filter !important;
      color: unset !important;
    }
  }

  .border-good {
    border: 3px solid $color-success-dark !important;
  }

  .border-ng {
    border: 3px solid $color-error-dark !important;
  }

  #contextMenu {
    background: $color-box-dark;
  }

  #contextMenu ul {
    color: $color-text-dark;
  }

  #contextMenu li {
    &:hover {
      background-color: $color-brand-opacity-20-dark;
    }
  }

  ::-webkit-scrollbar-thumb {
    background: $color-support-grey-dark;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $color-inactive-text-dark;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba($color-support-grey-dark, 0.1);
  }

  .mat-mdc-menu-item:not([disabled]):hover {
    background-color: $color-brand-opacity-20-dark !important;
  }

  .spotlight-border {
    border: 2px solid $color-brand-dark;
  }

  .arrow-top::before {
    border-bottom: 10px solid $color-box-dark;
  }
  .arrow-left::before {
    border-right: 10px solid $color-box-dark;
  }
  .arrow-bottom::before {
    border-top: 10px solid $color-box-dark;
  }
  .arrow-right::before {
    border-left: 10px solid $color-box-dark;
  }

  .add-step-btn {
    border: 1px solid $color-inactive-button-dark;

    mat-icon {
      color: $color-brand-dark;
    }
  }

  .step-container {
    border: 2px solid $color-inactive-button-dark;
    background-color: $color-input-dark;

    &.step-exemple {
      .step-icon-container {
        background-color: $color-inactive-button-dark;
      }

      .step-name,
      .step-type {
        color: $color-inactive-button-dark !important;
      }

      .step-button-container {
        background-color: $color-input-dark !important;

        button {
          img {
            filter: $color-inactive-button-dark-filter;
          }
        }
      }
    }

    .step-icon-container {
      border: 1px solid $color-inactive-button-dark;
      background-color: $color-box-dark;

      img {
        filter: $color-brand-dark-filter;
      }
    }

    .step-info-container {
      .step-name {
        color: $color-text-dark;
      }

      .step-type {
        color: $color-brand-dark;
      }
    }

    .step-button-container {
      background-color: $color-background-dark;

      button img {
        filter: $color-support-grey-dark-filter;
      }
    }
  }

  .roadmap-step-dialog {
    .modal-title {
      color: $color-text-dark;
    }

    .modal-subtitle {
      color: $color-support-grey-dark;
    }

    .step-type-container {
      border: 1px solid $color-line-dark;

      mat-radio-button {
        background-color: $color-input-dark;

        .type-info-img-container {
          background-color: $color-box-dark;
          border: solid 1px $color-inactive-button-dark;
        }

        img {
          filter: $color-brand-dark-filter;
        }
      }

      .mat-mdc-radio-checked {
        border: solid 2px $color-brand-dark !important;
      }

      .type-title,
      .type-subtitle {
        color: $color-text-dark;
      }
    }

    .name-title-label {
      color: $color-text-dark;
    }

    .step-name-container {
      border: 1px solid $color-line-dark;
    }
  }
}
